module.exports = {
  /// //////////////////
  //     GENERAL     //
  /// //////////////////

  // Mac: default of Mac
  // CloudTTS: https://cloud.google.com/text-to-speech/?hl=ja
  // windows is not yet supported!
  TTS_MODE: "Mac",

  /// //////////////////
  //    COMMANDS     //
  /// //////////////////

  // enable comment remember function
  COMMENT_REMEMVER_AVAILABLE: true,

  // custom command for remember and forget
  // e.g.)
  // COMMENT_REMEMVER_COMMAND = 'xxx'
  // xxx is command for remember comment convert pattern
  // and xxxU is command for remember username convert pattern
  COMMENT_REMEMVER_COMMAND: "remember",
  COMMENT_FORGET_COMMAND: "forget",

  /// //////////////////
  //       TTS       //
  /// //////////////////

  // Common
  READ_USERNAME: true,
  USE_SIMPLE_NAME: true,

  // for TTS_MODE: Mac
  SPEAKER_ENGLISH: "Susan",
  SPEAKER_JAPANESE: "Kyoko",
  RATE_ENGLISH: 150,
  RATE_JAPANESE: 200,

  // for TTS_MODE: CloudTTS
  BILINGAL_MODE: false,

  /// //////////////////
  //     TWITCH      //
  /// //////////////////

  // The token to authenticate your chatbot with Twitch's servers. Generate this with https://twitchapps.com/tmi/ (a Twitch community-driven wrapper around the Twitch API), while logged in to your chatbot account. The token will be an alphanumeric string.
  TW_OAUTH_TOKEN: "oauth:",

  // The Twitch channel name where you want to run the bot. Usually this is your main Twitch account.
  TW_CHANNEL_NAME: "",

  // ======== This is optional ========
  // as default TW_CHANNEL_NAME + "_bot" is used as username of bot
  // The account (username) that the chatbot uses to send chat messages. This can be your Twitch account. Alternately, many developers choose to create a second Twitch account for their bot, so it's clear from whom the messages originate.
  BOT_USERNAME: "",

  /// //////////////////
  //     DISCORD     //
  /// //////////////////

  // see following page to check detail. https://support.discordapp.com/hc/en-us/articles/228383668-Intro-to-Webhooks
  DISCORD_AVAILABLE: true,
  DISCORD_TOKEN: "",
  DISCORD_CHANNEL_ID: "",
};
